/* Global Styling */
body, h1, h2, h3, h4, h5, h6  {
    font-family: Helvetica, Arial, sans-serif!important;
}

/* Head Style */
h3 {	
	font-size : 18px;
	text-decoration : bold;
}

article, header {
	margin-top: -18px;
}

.body {
	height : 100%;
	overflow-y: scroll;
}

.content  {
	overflow : scroll;
	height: 100%;
}

.main-header {
}

.menu-control {
	position : absolute;
	left : 5px;
	top : 10px;
}

.main-title {
	margin-left : 10px;
	color: #000000;
	font-size: 18px;
	font-weight: bold;	
	margin: 5px 5px 5px 30px;
	padding: 10px;	
}

.footer_link  {
	/* width :32%; */
}

/* Footer */
nav.main-footer, nav.main-header {
	width: 100%;
	background-color: #B7CEF7;
}

/* Footer Menu */
nav.main-footer ul li {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 16px;
	font-weight: bold;
}

/* Footer Menu */
nav.main-footer ul li  a:link {
	color:#0F0F0F;	
	text-decoration: none;
}

/* Footer Menu */
nav.main-footer ul li  a:hover {
	color:#0F0F0F;	
	text-decoration: none;
}

/* Footer Menu */
nav.main-footer ul li  a:active {
	color:#0F0F0F;	
	text-decoration: none;
}

/* Footer Menu */
nav.main-footer ul li  a:visited{
	color:#0F0F0F;	
	text-decoration: none;
}


nav.main-footer ul li.active {
	background-color: #97B6E5; 
}

nav.main-footer ul {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	height: 100%;	
	text-align : center;
}

#menu  {
	background-color: #B7CEF7;
	border-right: 2px solid #B7CEF7;
	border-radius: 0px 0px 10px 0px;
	box-shadow: 5px 5px 5px #364D77;
	position: absolute;
	top: 0px;
	display : none;
}

#menu ul li {
	border-bottom: 1px Solid #364D77;	
}

#menu ul li  a {
	font-size: 20px;
	color: #080808;	
	padding-right: 20px;
}

header h2 {
	background-color: #B7CEF7;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #0F0F0F;
}

/* Nifty Section Styling */
article.spot {
	text-align: center;
	padding: 0px;
	background-color : #DCE4F3;
	margin: 10px 5px;
	border: 1px solid #072761;
	/* border-radius: 5px 5px 5px 5px; */
	box-shadow: 5px 5px 2px #888888;
}

article.spot h3  {
	background-color: #A2C0F7;
	margin: auto;
	padding: 5px 5px;
	border-radius: 5px 5px 0px 0px;
	font-weight: bold;
}

article div.desc  {
	padding: 5px 5px;
	font-size: 18px;
}


div.table  {
	display: table;
	width : 90%;
	margin: auto;
}

div.table-row {
	display: table-row;
	padding: 5px 3px;
}

div.table-row  span {
	display: table-cell;
}

span.label {
	width : 50%;
	text-align : right;
	padding: 3px 10px;
}

span.value {
	width : 50%;
	text-align : left;
	font-weight: bold;
}

div.divider {
	width :100%;
	height :10px;
}

#spinner, #app-status-ul, #main, #menu{
	margin-top: 50px;
}

#app-status-ul {
	display : visible;
}