<?xml version='1.0' encoding='utf-8'?>
<widget id="com.smart.droid.stock.tip" version="0.0.5" android-versionCode="5" ios-CFBundleVersion="0.0.5" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Nifty Spot Level</name>
    <description>
        This App provides the Daily Nifty Spot Level and useful long term and medium term stock tips.
    </description>
    <author email="smartdroidies@gmail.com" href="http://smartdroidies.com">
        SmartDroidies Team
    </author>
	<platform name="android">
		<icon src="res/android/stock_ldpi.png" density="ldpi" />
        <icon src="res/android/stock_mdpi.png" density="mdpi" />
        <icon src="res/android/stock_hdpi.png" density="hdpi" />
        <icon src="res/android/stock_xhdpi.png" density="xhdpi" />
    </platform>	
	
    <content src="index.html" />
    <access origin="*" />
</widget>
