
<div id="main" class="home-link ui-page-active topspaced">
  <a href="#/spotlist" class="btn btn-primary btn-lg btn-block btn-home" role="button">
  	<span class="glyphicon glyphicon-signal btn-home-img" aria-hidden="true"></span> Spot Levels <!--span class="badge">3</span-->
  </a>
  <a href="#/tiplist" class="btn btn-primary btn-lg btn-block btn-home" role="button">
  	<span class="glyphicon glyphicon-pushpin btn-home-img" aria-hidden="true"></span> Stock Tip <!--span class="badge">3</span-->
  </a>
  <a href="#/alertlist" class="btn btn-primary btn-lg btn-block btn-home" role="button">
  	<span class="glyphicon glyphicon-bell btn-home-img" aria-hidden="true"></span> Stock Alert <!--span class="badge">3</span-->
  </a>
</div>
